:root{
  --green:#52de97;
  --green-2:#c0ffb3;
  --green-3:#3c9d9b;
  --blue:#394a6d;
  --gray:#eef2f5;
  --gray-2:#5f6769;
}

body {
    overflow-x: hidden;
    font-family: 'Jost',sans-serif;
    background-color: var(--gray);
}

/* LodingSpinner */
  .loading-spinner{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("../img/loader.svg") center no-repeat;
  }

  body.loading{
    overflow: hidden;
  }

  body.loading .loading-spinner{
    display: block;
  }
/* Fin LodingSpinner */

label,
h3,
h4{
  color:var(--gray-2);
}

h3,
h4{
  font-weight: 500;
}

hr{
  border-top: 2px solid var(--green);
}

.separador{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-green{
  background: var(--green-3);
  border-color: var(--green-3);
  color: white;
  transition: background 0.5s;
}

.btn-green:hover{
  background: var(--blue);
  border-color: #FFF;
  color: white;
}

.p-titulos{
  font-weight: 500;
  font-size: 16px;
}

.menu-content{
  display: none;
  margin-top: 12px;
  position: absolute;
  left: 300px;
  top: -20px;
  background: var(--gray);
  border-radius: 8px;
  padding: 12px;
  z-index: 1;
  width: 300px;
  transition: display 2s;
}

.menu-active{
  display: block !important;
}

.iptPeriodos{
  max-width: 100px !important;
}

.form-check-label{
  color: white;
  font-weight: bold;
}

.hr-vertical{
  border-left: 4px solid green;
  height: 190px;
}

.card-header{
  background-color:var(--green);
}

.card-body{
  background-color:#F7F8F8;
}

.password-user{
  background-color:#F7F8F8;
  border-width: 0;
  font-weight: bold;
  color: black;
}

#navOption{
    color: EFF6EF;
}

#navbarDropdown{
    color: EFF6EF; 
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
  
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
  width: 15rem;
}
  
#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* - - Vendedor - - */
#suggestBoxElement {
  border: 1px solid #8FABFF;
  visibility:hidden;
  text-align: left;
  white-space: nowrap;
  background-color: #F7F8F8;
}

.suggestions {
  font-size: 16;
  background-color: #F7F8F8;
}

.suggestionMouseOver {
  font-size: 16;
  background: #50BC2E;
  color: white;
}
  
  /* - - Cotizador - - */
  /*Baja tension*/
  .tab-content {
    border-left: 1px solid #339FE1;
    border-right: 1px solid #339FE1;
    border-bottom: 1px solid #339FE1;
    border-top: 1px solid #339FE1;
    border-radius: 8px;
    padding: 10px;
}

.nav-pills>li {
    border-left: 1px solid #339FE1;
    border-right: 1px solid #339FE1;
    border-bottom: 1px solid #339FE1;
    border-top: 1px solid #339FE1;
    border-radius: 8px;
}
/*Media tension*/
/*Coti_individual*/
td{
  text-align: center;
}

.minh-100 {
  height: 100vh;
}

#loader{
  position: absolute; 
  left: 80px; 
  top: 90px;
}
