body {
    overflow-x: hidden;
}

.form-check-label{
  color: white;
  font-weight: bold;
}

.hr-vertical{
  border-left: 4px solid green;
  height: 190px;
}

.card-header{
  background-color:#50BC2E;
}

.card-body{
  background-color:#F7F8F8;
}

#navOption{
    color: EFF6EF;
}

#navbarDropdown{
    color: EFF6EF; 
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
  /* - - Cotizador - - */
  /*Baja tension*/
  .tab-content {
    border-left: 1px solid #339FE1;
    border-right: 1px solid #339FE1;
    border-bottom: 1px solid #339FE1;
    border-top: 1px solid #339FE1;
    border-radius: 8px;
    padding: 10px;
}

.nav-pills>li {
    border-left: 1px solid #339FE1;
    border-right: 1px solid #339FE1;
    border-bottom: 1px solid #339FE1;
    border-top: 1px solid #339FE1;
    border-radius: 8px;
}
  /*Media tension*/